/*BOOTSTRAP ADJUSTMENTS*/

.row {
    margin-bottom: 10px;
}

.btn {
    margin-bottom: 5px;
}

.admin_button_dropdown {
    margin-top: 6px;
}

#admin_product_update {
    position: absolute;
}

.products_pagination {
    display: inline-block;
    float: right;
}

.products_pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.products_pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.products_pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}