@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }

    .sidebar-nav .navbar ul {
        float: none;
    }

    .sidebar-nav .navbar ul:not {
        display: block;
    }

    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }

    .sidebar-nav .navbar li a {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.inline_inputs {
    margin-left: 10px;
}

.format_inputs_top {
    padding-top: 10px;
}

.table_size {
    width: 90%
}